{% extends 'base.html' %}}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div>
        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt="" style="height: 8rem; width 8rem; border-radius: 10rem; margin-bottom: 2rem;">
        <h1>
            {{ target_user.profile.nickname }}
        </h1>
        <h5 style="margin-bottom: 2rem; font-size: 18px;">
            {{ target_user.profile.message }}
        </h5>

        <p>
            {% if target_user == user %}
            <a class="btn btn-dark left" style="width: 100%; margin: 5px;" href="{% url 'profileapp:update' pk=target_user.profile.pk %}"> Edit your profile </a>
            {% endif %}
        </p>

        {% else %}
        {% if target_user == user %}
        <a class="btn btn-dark left" style="width: 100%; margin: 5px;" href="{% url 'profileapp:create' %}"> Create Profile </a>
        {% endif %}
        {% endif %}

        {% if target_user == user %}
        <a class="btn btn-dark left" style="width: 100%; margin: 5px;" href="{% url 'profileapp:update' pk=user.pk %}"> Change Info </a>
        <a class="btn btn-danger left" style="width: 100%; margin: 5px;" href="{% url 'accountapp:delete' pk=user.pk %}"> Delete </a>
        {% endif %}
    </div>
</div>

{% endblock %}