{% extends 'base.html' %}}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<div class="container mt-3">

    <div>
        <p style="font-size: 15px;">
            This is earning calendar with numerical figures(epsEstimate - epsActual).
            A higher than expected reading should be taken as positive/bullish for the enterprise,
            while a lower than expected reading should be taken as megative/bearish for the enterprise.
            On cursor to check epsEstimate and epsActual.
            Colors are for BTC-USD. Bigger rise to thicker green, bigger drop to thicker red.
        </p>
    </div>

    <hr>

    <div class="clearfix">
        <a class="btn btn-dark left" style="width: 45%; float: left;" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-dark right" style="width: 45%; float: right;" href="{% url 'calendarapp:calendar' %}?{{ next_month }}"> Next Month </a>
    </div>

    <div>
        <div style="width:75%; box-sizing:border-box; float:left;">
            {{ calendar }}
        </div>

        <div style="width:25%; box-sizing:border-box; float:right;">
            <hr>
            <h5 style="text-align: center;">Is there volatility on the day of the announcement?</h5>
            <hr>
            <canvas id="bar-chart" style="height:60vh; width:100%"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>

            var config = {
              type: 'bar',
              data: {
                datasets: [{
                  data: {{ e_count_list|safe }},
                  backgroundColor: [
                    '#388E3C'
                  ],
                  label: 'Effective!'
                },
                {
                  data: {{ n_count_list|safe }},
                  backgroundColor: [
                    '#D32F2F'
                  ],
                  label: 'Not at all...'
                }],
                labels: {{ symbol_list|safe }}
              },
              options: {
                indexAxis: 'y',
                responsive: true
              }
            };

            window.onload = function() {
              var ctx = document.getElementById('bar-chart').getContext('2d');
              window.myPie = new Chart(ctx, config);
            };

          </script>
        </div>
    </div>
</div>

{% endblock %}