{% extends 'base.html' %}

{% load custom_range from range_tags %}

{% block content %}
    <div class="container mt-3">
        <!-- SECTION A -->
        <div>
            <div style="width:50%; max-height: 400px; float:left; padding: 20px 5px;">
                <h5 style="text-align: center;">Hot keywords for a week</h5>
                <canvas id="bar-chart" style="width:100%; max-height: 350px;"></canvas>
                <script>
                    const ctx1 = document.getElementById('bar-chart');
                    new Chart(ctx1, {
                        type: 'bar',
                        data: {
                            labels: {{ keyword|safe }},
                            datasets: [{
                                label: 'count',
                                data: {{ count|safe }},
                                backgroundColor: ['red'],
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>

            <div style="width:50%; max-height: 400px; float:right; padding: 20px 5px;">
                <h5 style="text-align: center;">Sentimental analysis of keywords</h5>
                <canvas id="stack-chart" style="width:100%; max-height: 350px;"></canvas>
                <script>
                    const ctx2 = document.getElementById('stack-chart');
                        new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: {{ high_ranked|safe }},
                                datasets: [
                                    {
                                        data: {{ neg|safe }},
                                        backgroundColor: ['red'],
                                        label: 'neg'
                                    },
                                    {
                                        data: {{ neu|safe }},
                                        backgroundColor: ['yellow'],
                                        label: 'neu'
                                    },
                                    {
                                        data: {{ pos|safe }},
                                        backgroundColor: ['green'],
                                        label: 'pos'
                                    },
                                ],
                            },
                            options: {
                                indexAxis: 'x',
                                responsive: true,
                                scales: {
                                    x: {
                                        stacked: true,
                                    },
                                    y: {
                                        stacked: true,
                                        min: 0,
                                        max: 1,
                                    }
                                }
                            }
                      });
                </script>
            </div>
        </div>

        <div>
            <div style="width:50%; max-height: 400px; float:left; padding: 20px 5px;">
                <h5 style="text-align: center;">BTC-USD Trends</h5>
                <canvas id="line-chart" style="width:100%; max-height: 350px;"></canvas>
                <script>
                    const ctx4 = document.getElementById('line-chart');
                    new Chart(ctx4, {
                        type: 'line',
                        data: {
                            labels: {{ trend_index|safe }},
                            datasets: [{
                                label: 'BTCUSDT',
                                data: {{ trend_value|safe }},
                                borderColor: ['black'],
                                backgroundColor: ['black'],
                            }],
                        },
                        options: {
                        elements: {
                            point: {
                                radius: 0,
                            },
                        },
                        interaction: {
                            intersect: false,
                            mode: 'index',
                        },
                        scales: {
                            x: {
                                grid: {
                                    display: false,
                                },
                                ticks: {
                                    callback: function(val, index) {
                                        return index % 2 === 0 ? this.getLabelForValue(val) : '';
                                    },
                                },
                            },
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    pointStyle: 'line',
                                    usePointStyle: true,
                                }
                            }
                        },
                    },
                    });
                </script>
            </div>

            <div style="width:50%; max-height: 400px; float:right; padding: 20px 5px;">
                <h5 style="text-align: center;">News subject for a week</h5>
                <canvas id="doughnut-chart" style="width:100%; max-height: 350px;"></canvas>
                <script>
                    const ctx3 = document.getElementById('doughnut-chart');
                    new Chart(ctx3, {
                        type: 'doughnut',
                        data: {
                            labels: {{ news_desk_index|safe }},
                            datasets: [{
                                label: 'count',
                                data: {{ news_desk_value|safe }},
                                circumference: 180,
                                rotation: 270,
                                backgroundColor: ['#008080', '#20B2AA', '#5F9EA0', '#4682B4', '#7FFFD4', '#B0E0E6', '#00FF7F', '#98FB98'],
                            }],
                        },
                    });
                </script>
            </div>
        </div>

        <!-- SECTION B -->
        <div class="row pt-4">
            <div class="title-bar">
                <h5 class="titlehome">
                    <a>Business & Politics News Links</a>
                </h5>
            </div>
            {% for art in article %}
            <div class="card mb-4 shadow">
                <a href="{{ art.web_url }}" class="stretched-link">
                    <div class="row no-gutters">
                        <div class="col-lg-3">
                            <p class="card-text">{{ art.pub_date }}</p>
                            <p>pos: {{ art.pos }}</p>
                            <p>neu: {{ art.neu }}</p>
                            <p>neg: {{ art.neg }}</p>
                        </div>
                        <div class="col-lg-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ art.headline.main }}</h5>
                                <p class="card-text">{{ art.abstract }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}