.header {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.footer {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

a {
    text-decoration-line: none;
}

a:hover {
    color: #FFBF00;
}
