<div class="header">
    <!--  TITLE  -->
    <div>
        <a class="header" href="{% url 'indicatorapp:index' %}">
        <h1>INDICATORS</h1>
    </a>
    </div>
    <!--  CONTENT  -->
    <div>
        <a class="header" href="{% url 'indicatorapp:detail' %}">
            <span>Indicators</span>
        </a>
        <a class="header" href="{% url 'calendarapp:calendar' %}">
            <span>Earnings Calendar</span>
        </a>
        <a class="header" href="{% url 'newsapp:index' %}">
            <span>News</span>
        </a>
        {% if not user.is_authenticated %}
        <!--  login html로 가는데, 로그인하고나면 next에 적은 path로 이동해라라는 뜻  -->
        <a class="header" href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>
        <a class="header" href="{% url 'accountapp:create' %}">
            <span>SignUp</span>
        </a>
        {% else %}
        <a class="header" href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>
        <a class="header" href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>
<hr>